// Define variables for your color scheme

// For example:
$red: #DD1C1A;
$blue: #007FDB;
$yellow: #FFB400;
$orange: #E67E22;
$green: #44AF69;
$gray: #000000;
$light-gray: #F4F4F4;
$light-blue: #5CC7EB;
