// Define variables for your color scheme

// For example:
$red: #DD1C1A;
$blue: #007FDB;
$yellow: #FFB400;
$orange: #e60;
$green: #00b67b;
$gray: #000000;
$light-gray: #F4F4F4;
$light-blue: #5CC7EB;
