// Specific CSS for your home-page
.first-section {
  background-image: linear-gradient(to right top, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%), url("back.jpeg");
  background-size: cover !important;
  background-position: top center;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}
.banner{
  color: white;
  h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    margin-bottom: 15px;
  }
  p{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
  }
}

.nav-link{
  position: absolute;
  top: 18px;
  right: 75px;
}

.nav-link a{
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 5px;

  &:hover{
    color: rgba(255,255,255, 0.4);
    text-decoration: none;
  }
}

.signup-button{
  border: 1px solid #007FDB;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
}

.section-creators{
 height: 50vh;
}

.padded{
  padding-top: 3em;
  padding-bottom: 4em;
}
.secondtitle{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 25px;

}

.seconddesc{
  margin-bottom: 40px;
}

.lp-icon{
 // border: 3px solid #007FDB;
 padding: 20px;
 // border-radius: 50%;
 color: #007FDB;
}


.slogan {
    background-image: linear-gradient(to right top, rgba(30, 61, 99, 0.78) 50%, rgba(30, 61, 99, 0.78) 50%), url("second-banner.jpeg");
  background-size: cover !important;
  background-position: top center;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}


