// Specific CSS for your home-page
.home-page{
  background-color: #fff;
}
.home-logo{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
}
.first-section {
  background-image: linear-gradient(to right top, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%), url("http://res.cloudinary.com/dbp2j1emu/image/upload/v1512406353/back_gup2fg.jpg");
  background-size: cover !important;
  background-position: top center;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}
.banner{
  color: white;
  h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    margin-bottom: 15px;
  }
  p{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
  }
}

.nav-link{
  position: absolute;
  top: 18px;
  right: 75px;
  font-size: 15px;
}

.nav-link a{
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 19px;

  &:hover{
    color: rgba(255,255,255, 0.4);
    text-decoration: none;
  }
}

.signup-button{
  border: 1px solid #007FDB;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
}

.section-creators{
 height: 50vh;
}

.padded{
  padding-top: 3em;
  padding-bottom: 4em;
}
.secondtitle{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 25px;
  color: #676666;

}

.seconddesc{
  margin-bottom: 40px;
}

.lp-icon{
 // border: 3px solid #007FDB;
 padding: 20px;
 // border-radius: 50%;
 color: #007FDB;
}


.slogan {
    background-image: linear-gradient(to right top, rgba(30, 61, 99, 0.78) 50%, rgba(30, 61, 99, 0.78) 50%), url("http://res.cloudinary.com/dbp2j1emu/image/upload/c_scale,q_auto:eco,w_1920/v1512406521/second-banner_cooxly.jpg");
  background-size: cover !important;
  background-position: top center;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}


.footer {
  background: rgba(233,233,233,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  margin-bottom: 0;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin-right: 10px;
  font-size: 25px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}



