<div class="wrapper">
  <div class="page-header first-section">
    <div class="section-content">
      <h1>JobDetective</h1>
      <p>Coldstart your Carreer</p>
      <%= link_to "Log in with LinkedIn", user_linkedin_omniauth_authorize_path, class: "btn btn-primary" %>
    </div>
  </div>


  <div class="section-creators">
    <div class="row">
      <div class="col-xs-offset-5 col-xs-6">
        <h2>The Team</h2>
      </div>
      <div class="col-lg-6 text-center">
        <%= image_tag("daniel levelev.png", class: "avatar_super") %>
        <p>Daniel Levelev</p>
      </div>
      <div class="col-lg-6 text-center">
        <%= image_tag("Alexander Pieczka.jpg", class: "avatar_super") %>
        <p>Alexander Pieczka</p>
      </div>

    </div>
  </div>
</div>


<!-- <div class="footer">
  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Team</a>
    <a href="#">Help</a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
-->
