<h1>Landing Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Start", root_path, class: "btn btn-primary" %>




















<div class="footer">
  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Team</a>
    <a href="#">Help</a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
