.card-white {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  // color: white;
  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2)

  // the entire card

}
.card-white-logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  border-radius: 50%;
  // A logo in the top right corner
}
.card-white-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  word-wrap: break-word;
  // Text in the Top left
}
.card-white-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  // Text inside the Card
  h3{
    color: black;
  }
}
.card-white-description h2 {
  font-size: 24px;
  color: black;
}
.card-white-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
}
.card-white-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  // Makes the entire card a Link if you put it at the bottom
}
.card-white-link:hover {
  opacity: 0.1;
}

.searchbar{
  margin-top: 10px;
  text-align: center;
}
.searchfield{
  height: 39px;
  width: 350px;
}
.searchbtn{
  margin-bottom: 4.45px;
  height: 39.5px;
}
.searchcard{
   height: 75px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  // color: white;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 2px;
  background: white;
  padding-top: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1)
}



.card-white-cta-buton {
  position: absolute;
  right: 10px;
  bottom: 10px;

  // A Call-to-Action-Button in the bottom right corner

}
.magnifying-glass{
  margin-right: 6px;
}
