.card-white {
  height: 175px;
  display: flex;
  background-size: cover !important;
  background-position: center;

  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  .logo-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
  }
}
.card-part-left{
  flex: 0 0 30%;
}
.card-part-right{
  flex: 1 0 auto;
  padding-left: 16px;
}

.image-lead-container {
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.card-white-main {

  background-size: cover !important;
  background-position: center;

  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  .logo-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
  }
}
.company-border{
  border-left: 1px solid rgba(0,0,0,0.2)
}

.company-details {
  h2 {

  }
}

.card-white-secondary {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  // color: white;
  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2)

  // the entire card

}


.card-white-logo-main {
  width: 123px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    z-index: 10;
  // A logo in the top right corner
}

.card-white-category {
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #e60;
  // Text in the Top left
}

.card-white-lead-category{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.card-white-lead-logo {

  width: 69px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    z-index: 10;
  // A logo in the top right corner
}

.card-white-description-main {
  // bottom: 10px;
  // left: 10px;
  // Text inside the Card
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10px;
  h2 {

  }
  h3{
    color: black;
  }
}
.card-white-description {
  bottom: 10px;
  left: 10px;
  // Text inside the Card
  h3{
    color: black;
  }
}

.card-white-description-leads {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  // Text inside the Card
  h3{
    color: black;
  }
  h2{
    font-size: 28px;
    color: rgba(0,0,0,0.65);
  }
  p{
    color: rgba(0,0,0,0.65);

  }
}

.card-white-description-list{
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end;
  justify-content: space-between;
  padding-right: 30px;
  margin-top: 13px;

}

.leads-elements-list{

}


.leads-addable{}



.card-white-description-main h2 {
  font-size: 30px;
  color: rgba(0,0,0,0.8);
  font-weight: 600;
}
.card-white-description h2 {
  font-size: 30px;
  color: rgba(0,0,0,0.65);

}
.card-white-description-main p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
  color: rgba(0,0,0,0.6);
}
.card-white-description p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
  color: rgba(0,0,0,0.6);
}
.card-white-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: rgba(112, 121, 127, 0.32);
  opacity: 0;
  // Makes the entire card a Link if you put it at the bottom
}
.card-white-link:hover {
  opacity: 0.01;
}



.card-white-cta-buton {

  font-weight: 100;
  width: 74px;
  border-radius: 6px;

  // A Call-to-Action-Button in the bottom right corner

}

.hover-wrapper {

  &:hover {
    .clearer {
      clear: both;
    }

    .effect {

      transform: scale(1.02, 1.02);
      transition: transform 200ms ease-in-out;
      box-shadow: 0px 0px 42px 0px #c6e7ffb8;
      z-index:9999;
      background-color:#fff;
    }

  }

    // .effect {
    //   transition: all 0.1s;
    //   border-right:1px solid #f0f0f0;
    //   border-bottom:1px solid #f0f0f0;
    // }

}



.card-company-picture {
  flex: 0 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.location-card {
  font-weight: 600;
}

p.company-card-description {
  font-size: 14px;
}






