.card-white {
  height: 175px;

  background-size: cover !important;
  background-position: center;

  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  .logo-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
  }
}


.card-white-main {

  background-size: cover !important;
  background-position: center;

  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  .logo-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
  }
}
.company-border{
  border-left: 1px solid rgba(0,0,0,0.2)
}

.company-details {
  h2 {

  }
}

.card-white-secondary {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  // color: white;
  position: relative;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2)

  // the entire card

}


.card-white-logo-main {
  margin-top: 17px;
  width: 123px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    z-index: 10;
  // A logo in the top right corner
}

.card-white-category {
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #e60;
  // Text in the Top left
}

.card-white-lead-category{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.card-white-lead-logo {
  position: absolute;
  left: 25px;
  top: 7px;
  width: 69px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    z-index: 10;
  // A logo in the top right corner
}

.card-white-description-main {
  bottom: 10px;
  left: 10px;
  // Text inside the Card
  h3{
    color: black;
  }
}
.card-white-description {
  bottom: 10px;
  left: 10px;
  // Text inside the Card
  h3{
    color: black;
  }
}

.card-white-description-leads {
  position: absolute;
  bottom: 10px;
  left: 10px;
  // Text inside the Card
  h3{
    color: black;
  }
  h2{
    font-size: 28px;
    color: rgba(0,0,0,0.65);
  }
  p{
    color: rgba(0,0,0,0.65);

  }
}
.card-white-description-main h2 {
  font-size: 30px;
  color: rgba(0,0,0,0.61);
}
.card-white-description h2 {
  font-size: 30px;
  color: rgba(0,0,0,0.61);
}
.card-white-description-main p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
  color: rgba(0,0,0,0.6);
}
.card-white-description p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
  color: rgba(0,0,0,0.6);
}
.card-white-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: rgba(112, 121, 127, 0.32);
  opacity: 0;
  // Makes the entire card a Link if you put it at the bottom
}
.card-white-link:hover {
  opacity: 0.01;
}



.card-white-cta-buton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 100;
  width: 74px;
  border-radius: 6px;

  // A Call-to-Action-Button in the bottom right corner

}

.effect {



    transition: all 0.1s;
    border-right:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;

  }





  .clearer {
    clear:both;
  }

  .effect:hover {
    transform: scale(1.04, 1.04);

        box-shadow: 0px 0px 42px 0px #c6e7ffb8;
    z-index:9999;


    background-color:#fff;
  }









